
<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<title>Finding Fido</title>

		<script>
			$(document).ready(function(){
				$('#doggie_stats').hide();
	    		$('.dog_info').click(function(){
	    			$('#orange_paw').toggle();  
	    			$('#doggie_stats').toggle();
	    		});
	    		

			});
		</script>

		<style type="text/css">

			@font-face {
				font-family: "cabana_reg";
				src: url( <%= asset_path 'Cabana-Regular.otf' %>);
			/*	src: 
				url("assets/fonts/Harabara.woff") format("woff"),
				url("css/fonts/cabana.otf") format("opentype"),
				url("css/fonts/Harabara.svg#filename") format("svg");*/
			}

			html {
				height: 100%;
			}
			
			body {
				font-family: "cabana_reg";
				font-size: 2em;
				height: 100%;
				background-color: #fdf5c9
			}

			#wrapper {
				height: 100%;
			}

			#header {
				width: 100%;
				height: 25%;
				background-color: #add8e6;
				font-size: 5em;
				font-weight: bold;
				padding: 25px;
				color: black;
				opacity: 0.8;
			}

			.dog_pic {
				
				background-color: rgba(192,192,192,0.6);
				padding: 25px;
				max-width: 600px;
				max-height: 300px;
				position: absolute;
				right: 25px ;
				top: 25px;


			}
			
			#banner {
				min-height: 45px;
				width: 100%;
				background: url(<%= asset_path 'little_paws.png' %>);
				background-size: contain;
				margin-bottom: 25px;
				

			}

			#match_message {
				
				width: 40%;
				border-left: 2px solid black;
				padding: 10px;
				margin-left: 25px;
				text-align: left;
				background-color: rgba(192,192,192,0.4);
				font-size: 1.5em;

			}

			#snapshot {
				width: 20%;
				background-color: rgba(127,178,127,0.2);
				
				background-size: contain;
				margin-top: 25px;
				margin-left: 25px;
				margin-right: 50px;
				padding: 10px;

			}
			#snapshot p {
				font-size: 2em;
			}

			.boxes {
				display: inline-block;
				vertical-align: top;
				margin-right: 20px;

			}
			.info {

			}

			.paw_talk {
				width: 30%;

			}

			#main_content{

				
				padding-top: 0px;
				padding-bottom: 0px;
				padding-left: 10px;
				background-color: rgba(192,192,192,0.0);	
				margin-top: 25px;
				margin-bottom: 25px;
				margin-left: 10px;
				width: 35%;	

			}

			.dog_info {

				margin-left: 300px;
				height: 380px;
				width: 50%;

			}

			

			.click_move {
				display: inline-block;
				font-size: 2em;
				text-align: bottom;

			}

			
			#doggie_stats h3 {
				font-size: 2em;
				text-decoration: underline;
			}

			.heart {
				width: 15%;
			}

			#footer {
				
				margin-top: 10px;
				height: 200px;
				width: 100%;
				background-image: url(<%= asset_path 'grass2.jpg' %>);
				background-size: cover;
				text-align: center;
				padding-top: 50px;


								
			}

			#footer p{
				font-size: 1.6em;
				color: white;
				font-weight: bold;
				background-color: rgba(192,192,192,0.4);
			}

			


			
			
			
		</style>

		

	</head>

	
	<body>

		<div id= "wrapper">

		 	<div id= "header">
		 		<%if @dog %>
		 			<%=@dog.breed%>
		 		<% end %>
		 	</div>
		
		<!-- insert Dog API image -->
			
			<img class= "dog_pic" src="<%= @hash['message'] %>">
			

			<div id= "banner">
		<!-- this div holds the paw prints banner -->
				
			</div>

			<div id="match_message">
				<p><%= @match %></p>
			</div>

			<div class= "boxes" id= "snapshot">
				<p>At-A-Glance</p>
				<ul>
					<li>Weight:</li>
					<li>Height:</li>
					<li>Life-Span:</li>
				</ul>
			</div>

			
			<div class= "dog_info boxes">
				<div id = "orange_paw" c id= "main_content">
					<p><%= image_tag "paw_talk.png.png", class: "paw_talk click_move" %></p>
					<h2 class= "click_move">{for <b>Doggie Data}</b></span></h2>
					<br>
					
				</div>

				<div id= "doggie_stats">
						<h3>Role</h3>
						<p></p>
						<h3>Behavior</h3>
						<p></p>
						<h3>Special Needs</h3>
						<p></p>
				</div>
			</div>
			

			<div><%= image_tag "heart.png (1).png", class: "heart" %></div>

		</div>

		<div id="footer">
		<!-- div holds the footer image of field -->


			 <p>Powered by: <span style="text-shadow: 2px 2px white;"><u><a href="www.petfinder.com">Petfinder.com</a><u></span> </p>
			 

		</div>

	</body>
	
</html>

